.profile-image {
    width: 400px;
    height: 550px;
    /* padding: 30px; */
}

/* .image{
    background-color:
} */
.header{
    line-height: 50px;
    background-color:#dee8eb;
    padding: 20px;
    height: fit-content;
    width: fit-content;
}

.home{
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}

.name {
    line-height: 0.5;
    text-align: left;
    width: 1000px;
    color: gray;
    font-family: 'Times', serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
}
.about-me{
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

.home {
    margin: 16px;
}

.about-me {
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: #dee8eb;
}

.list{
    text-align: center;
    list-style-type: none 30px;
}